PORT=3000
NODE_ENV=production
ALLOWED_ORIGIN=https://kotaaans.lv
SUPABASE_URL=https://zcxncvwxxvtazdhddfet.supabase.co
SUPABASE_ANON_KEY=sb_publishable_DnGQ754Q9UraQ4reMcjdhg_SHB_u7LU
SUPABASE_SERVICE_KEY=sb_secret_4LwyCAxo_YpK6tk4ywPxkQ_u5fOUuk4
ADMIN_EMAILS=admin@kotaaans.lv
